
[package]
name = "ubl-json"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"
nrf1-core = { path = "../../crates/nrf1-core", package = "nrf1-core" }
